<mat-toolbar class="bg-gray-50 shadow-sm border-b">
  <nav class="flex space-x-6">
    <button mat-button routerLink="/chat" routerLinkActive="mat-accent" class="flex items-center">
      <mat-icon class="mr-1">chat_bubble</mat-icon>
      Chat
    </button>
    <button mat-button disabled class="flex items-center">
      <mat-icon class="mr-1">history</mat-icon>
      History
    </button>
    <button mat-button disabled class="flex items-center">
      <mat-icon class="mr-1">folder</mat-icon>
      Documents
    </button>
  </nav>
</mat-toolbar>
