<mat-toolbar class="header-toolbar shadow-md" style="height: 86px !important;">
  <!-- <button 
    mat-icon-button 
    (click)="onMenuToggle()"
    [matTooltip]="'Chat History'"
    class="mr-2"
  >
    <mat-icon>menu</mat-icon>
  </button> -->
  <!-- <button 
    mat-icon-button 
    (click)="onToggleCollapse()"
    [matTooltip]="'Toggle Sidebar'"
    class="mr-2"
  >
    <mat-icon>chevron_left</mat-icon>
  </button> -->
  <img src="Athena-Final-Cropped.PNG" alt="Athena" class="w-18 h-18 mr-4">
  <img src="Athena-Text.PNG" alt="Athena" class="w-28 h-6 mr-4">

  <!-- <span class="text-xl text-blue-800 font-[sans-serif] font-bold mr-4 ">Athena</span> -->

  <!-- Database Selector -->

  <span class="flex-1"></span>
  
  <!-- Navigation Buttons -->
  <button
    mat-stroked-button
    color="primary"
    routerLink="/helpdesk"
    class="mr-2"
    [matTooltip]="'Help Desk Portal'"
  >
    <mat-icon>help</mat-icon>
    Help Desk
  </button>
  
  <button
    mat-stroked-button
    color="primary"
    routerLink="/chat"
    class="mr-2"
    [matTooltip]="'AI Chat Assistant'"
  >
    <mat-icon>chat</mat-icon>
    Chat
  </button>
  
  <button
    [matTooltip]="'Reset Chat'"
    mat-icon-button
    color="primary"
    (click)="resetChat()"
    class="mr-2"
  >
    <mat-icon>refresh</mat-icon>
  </button>
  <mat-form-field class="database-selector" appearance="outline">
    <mat-select
      [panelWidth]="''"
      [value]="selectedDatabase()"
      (selectionChange)="onDatabaseChange($event.value)"
      [disabled]="isLoading()"
      placeholder="Select Catalog"
    >
      @for (database of databases(); track database) {
        <mat-option [value]="database">
          {{ database }}
        </mat-option>
      }
    </mat-select>
    @if (isLoading()) {
      <mat-icon matSuffix>hourglass_empty</mat-icon>
    }
  </mat-form-field>
</mat-toolbar>
